.root {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container {
  margin-top: 4rem;
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.3;
}

.buttons_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  padding-left: 0 !important;
}
