.root {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container {
  margin-top: 4rem;
  width: 100%;
}

.formItem {
  margin-bottom: 16px !important;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.3;
}

.descreption {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  display: flex;
  justify-content: flex-start;
  span {
    margin-right: 2px;
  }
}

.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.otpInputLight > div,
.otpInputDark > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  input {
    width: 50px !important;
    padding: 15px;
    font-size: 18px;
    outline-color: #316ce6;
    letter-spacing: 3px;
    border-radius: 8px;
    border: 1px solid #e9e9e9;
    transition: all 0.2s;
    background-color: #fff;
  }
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.otpInputDark > div {
  input {
    width: 50px !important;
    padding: 15px;
    font-size: 18px;
    outline: 1px solid #316ce6;
    letter-spacing: 3px;
    border-radius: 8px;
    border: 1px solid #316ce6;
    transition: all 0.2s;
    background-color: #141414;
    color: rgba(255, 255, 255, 0.85);
  }
}

.time {
  color: #62a4e1;
  margin: 0 4px;
}

.bold {
  font-weight: 600;
}

.buttons_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  padding: 6.5px 5px !important;
}
.button:hover {
  color: #62a4e1 !important;
  background-color: #e9e9e9 !important;
}
