.inputNum {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 200;
  &:hover {
    border-color: #5385dc;
  }
}
.inputLight {
  border: 1px solid #e9e9e9;
  color: rgb(217, 217, 217);
  &:focus {
    border-color: #5385dc;
    color: rgba(0, 0, 0, 0.88);
  }
  &.filled {
    color: rgba(0, 0, 0, 0.88);
  }
}
.inputDark {
  background-color: #141414;
  border: 1px solid #424242;
  color: rgba(255, 255, 255, 0.3);
  &:focus {
    border-color: #5385dc;
    color: #fff;
  }
  &.filled {
    color: #fff !important;
  }
}
