.root {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--indent16) * 4);
  form {
    width: 100%;
  }
}

.logo {
  margin: 0 auto;
  pointer-events: none;
  img {
    width: 4rem;
  }
}

.form_container {
  margin-top: 4rem;
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.3;
}

.forgot_password {
  float: right;
}

.centered {
  text-align: center;
  margin: calc(var(--indent16) * 2) auto 0;
}
.infoText {
  margin-top: 0;
  margin-bottom: 24px !important;
  font-size: 14px;
}
.inputNumLight {
  font-size: 16px !important;
  outline: none;
  border-color: rgb(217, 217, 217);
  line-height: 20px;
  color: rgb(217, 217, 217);
  letter-spacing: 1px;
  &:hover {
    border-color: #5a92f2;
  }
  &:focus {
    border-color: #5385dc;
    color: rgba(0, 0, 0, 0.88);
  }
}
.inputNumDark {
  font-size: 16px !important;
  outline: none;
  border-color: #424242;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.3);
  &:hover {
    border-color: #5385dc;
  }
  &:focus {
    border-color: #5385dc;
    color: #fff;
  }
}
